    
     .jumbotron {
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 10px;
    }

    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
   
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    img {
      height: 200px;
      width: auto;
    }